VITE_DIGITRANSIT_API_KEY=
VITE_DIGITRANSIT_GRAPHQL_URL=https://api.digitransit.fi/routing/v2/hsl/gtfs/v1
VITE_DIGITRANSIT_GEOCODING_URL=https://api.digitransit.fi/geocoding/v1/search
VITE_HSL_STYLE_URL=https://cdn.jsdelivr.net/gh/HSLdevcom/hsl-map-style@master/style.json
VITE_HSL_STYLE_ASSET_BASE_URL=https://cdn.jsdelivr.net/gh/HSLdevcom/hsl-map-style@master
VITE_HSL_MQTT_TOPIC=/hfp/v2/journey/ongoing/vp/+/+/+/+/+/+/+/+/+/+/+/+
